body {
  background-image: url('https://images.unsplash.com/photo-1566996694954-90b052c413c4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60');
  background-repeat: no-repeat;
  background-size: cover;
}

#city-input,
#weather-output {
  max-width: 400px;
  margin: 0 auto;
}

.banner {
  color: #ffd23f;
  font-family: sans-serif;
}
